@font-face {
    font-family: 'WorkSans';
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}

body {
    font-family: 'WorkSans';
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}